.footer {
  background-color: #f9f9f9;
  padding: 15px 30px;
}

.foot-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer .col {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 200px;
  margin-bottom: 20px;
}

.foot-logo {
  margin-bottom: 20px;
  max-width: 120px;
}

.footer h4 {
  font-size: 16px;
  margin-bottom: 20px;
}

.footer p {
  font-size: 14px;
  margin-bottom: 8px;
}

.footer a {
  font-size: 14px;
  color: #222;
  text-decoration: none;
  margin-bottom: 10px;
}

.footer a:hover {
  color: #088178;
  text-decoration: underline;
}



.follow .icon i {
  color: #465b52;
  padding-right: 10px;
  cursor: pointer;
  font-size: 18px;
}

.follow .icon i:hover {
  color: #088178;
}

.row img {
  border: 1.5px solid #465b52;
  border-radius: 6px;
  margin-right: 10px;
  width: 120px;
}

.row img:hover {
  cursor: pointer;
  border-color: #088178;
}

.install {
  margin: 10px 0 15px 0;
}

.copyright {
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
}
