.account {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    transition: opacity 0.3s ease;
}

.account.show {
    display: block;
    opacity: 1;
}

.account .popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation: slide-in 0.3s ease-out;
}

@keyframes slide-in {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.account .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account .form-container h2 {
    margin-bottom: 20px;
}

.profile-info {
    width: 100%;
    margin-bottom: 20px;
}

.profile-info p {
    font-size: larger;
    padding: 5px;
    margin: 5px 0;
    text-align: left;
}

.account button {
    background-color: #088178;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.account button:hover {
    background-color: #066760;
}
