.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.search input[type="search"] {
  width: 300px;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 5px 0 0 5px;
  outline: none;
  font-size: 16px;
}

.search-btn {
    padding: 10px 20px;
    border: none;
    background-color: #ff6b81;
    color: white;
    font-size: 16px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.search-btn:hover {
  background-color: #ff4757;
  transform: scale(1.05);
}

@media (max-width: 600px) {
  .search input[type="search"] {
    width: 70%;
  }

  .search-btn {
    width: 30%;
  }
}
